# Project D4: Predicting LoL winner

Team members - Veronika Kukk, Robin Piir, Otto Kase
<br>Github - https://github.com/VeronikaKukk/DS_project

# Gathering data

Data was gathered from Riot API by using development API key.
<br> Code for that is written in request_info.py.
<br> This gathering method has already removed any games that were less than 10 minutes and has only taken ranked games from players with rank Diamond I in ranked solo.

In [1]:
# everything that needs to be imported
import pandas as pd
from pathlib import Path

# Combining data

In [2]:
# import all eune files to dataframes
df_eune1 = pd.read_csv("eune_data1.csv", index_col=0)
df_eune2 = pd.read_csv("eune_data2.csv", index_col=0)
df_eune3 = pd.read_csv("eune_data3.csv", index_col=0)
df_eune4 = pd.read_csv("eune_data4.csv", index_col=0)

In [3]:
# import all euw files to dataframes
df_euw1 = pd.read_csv("euw_data1.csv", index_col=0)
df_euw2 = pd.read_csv("euw_data2.csv", index_col=0)
df_euw3 = pd.read_csv("euw_data3.csv", index_col=0)
df_euw4 = pd.read_csv("euw_data4.csv", index_col=0)

In [4]:
df_eune1

,matchId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,...,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
0,EUN1_3250387583,118,4,1,4,3,5,0,0,0,...,14267,7.0,16956,193,72,8,-2314,21.436862,1584.661722,0
1,EUN1_3250345989,15,2,0,7,3,5,0,0,0,...,13815,6.4,15507,183,48,1397,893,20.325918,1534.440213,1
2,EUN1_3250132600,13,0,0,3,2,3,0,0,0,...,14202,7.0,17682,205,48,-544,-1343,22.768502,1577.357373,0
3,EUN1_3250109344,10,1,1,3,3,0,0,0,0,...,14684,6.6,16566,194,60,-541,111,21.549689,1631.111531,1
4,EUN1_3250074417,12,0,0,0,4,0,0,0,0,...,14784,6.6,16370,203,50,-2446,-2208,22.544534,1641.863978,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4063,EUN1_3241781223,112,1,1,12,4,10,1,0,1,...,14534,6.4,15108,175,52,3242,2265,19.439261,1614.458367,1
4064,EUN1_3241746052,17,5,1,13,6,20,0,0,0,...,15496,6.4,16230,195,64,3805,1745,21.659246,1721.188111,1
4065,EUN1_3241710887,16,1,0,3,9,3,0,0,0,...,17167,6.6,16519,171,56,-3654,-1748,18.995111,1906.953580,1
4066,EUN1_3241682864,34,1,0,4,7,2,0,0,0,...,14538,6.4,14915,171,36,568,1714,18.995181,1614.923621,0
4067,EUN1_3241627562,15,16,0,6,9,6,0,0,0,...,16743,6.4,15112,182,56,-1428,-119,20.216195,1859.778844,0

In [5]:
# combining all of the dataframes of both servers into one
eune_dfs = [df_eune1, df_eune2, df_eune3, df_eune4]
euw_dfs = [df_euw1, df_euw2, df_euw3, df_euw4]

df_eune = pd.concat(eune_dfs, ignore_index=True)
df_euw = pd.concat(euw_dfs, ignore_index=True)

In [6]:
df_eune

,matchId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,...,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
0,EUN1_3250387583,118,4,1,4,3,5,0,0,0,...,14267,7.0,16956,193,72,8,-2314,21.436862,1584.661722,0
1,EUN1_3250345989,15,2,0,7,3,5,0,0,0,...,13815,6.4,15507,183,48,1397,893,20.325918,1534.440213,1
2,EUN1_3250132600,13,0,0,3,2,3,0,0,0,...,14202,7.0,17682,205,48,-544,-1343,22.768502,1577.357373,0
3,EUN1_3250109344,10,1,1,3,3,0,0,0,0,...,14684,6.6,16566,194,60,-541,111,21.549689,1631.111531,1
4,EUN1_3250074417,12,0,0,0,4,0,0,0,0,...,14784,6.6,16370,203,50,-2446,-2208,22.544534,1641.863978,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16246,EUN1_3245368080,75,4,1,6,6,8,0,0,0,...,15542,6.6,16303,194,56,-509,-1744,21.549649,1726.415723,1
16247,EUN1_3245264423,9,3,0,1,6,1,0,0,0,...,14910,6.4,16199,185,40,-1725,-1144,20.548097,1656.065576,0
16248,EUN1_3245007949,14,0,0,4,7,5,0,0,0,...,14705,6.6,16327,164,56,-501,-496,18.216353,1633.362583,1
16249,EUN1_3244978461,11,1,0,0,9,0,0,0,0,...,15390,6.2,15396,169,44,-2950,-967,18.771764,1709.452342,0
16250,EUN1_3244934110,13,1,1,6,2,8,1,0,1,...,13260,6.0,14505,208,26,2873,2754,23.103111,1472.823300,1

In [7]:
# write data to csv files 
# (we should move this part to after cleaning data so that we have correct data in files that we analyse)
filepath1 = Path('combined_eune.csv')
filepath2 = Path('combined_euw.csv')
df_eune.to_csv(filepath1)
df_euw.to_csv(filepath2)

# Cleaning data

In [8]:
# Find whether any games have no values
eune_nan = df_eune.isna().any(axis=1).sum()
euw_nan = df_euw.isna().any(axis=1).sum()
print("Number of missing values in EUNE: "+str(eune_nan))
print("Number of missing values in EUW: "+str(euw_nan))

Number of missing values in EUNE: 0
Number of missing values in EUW: 0

This means that there are no rows with missing values. No need to remove any rows.

### Inspecting the mean, min and max

In [9]:
# Since we want to see all columns, we set the max_columns to None
pd.set_option('display.max_columns', None)
df_eune.describe()

,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsPlaced,redWardsDestroyed,redFirstBlood,redKills,redDeaths,redAssists,redDragons,redHeralds,redEliteMonsters,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
count,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000
mean,18.836133,2.004800,0.507353,5.689373,5.608455,5.698542,0.231309,0.063319,0.294628,0.005723,15048.074765,6.424122,15819.147745,184.409267,49.018276,-25.933727,9.856624,20.483711,1671.511804,20.082580,1.858163,0.492339,5.608455,5.689373,5.600886,0.250200,0.052181,0.302381,0.003631,15022.141037,6.427518,15829.004369,184.466925,49.935758,25.933727,-9.856624,20.490175,1668.638380,0.497692
std,20.162360,1.893432,0.499961,2.754621,2.726233,3.655421,0.421682,0.243544,0.482896,0.090967,1392.833911,0.276308,984.021891,19.627546,8.725882,2123.597085,1514.104666,2.179396,154.572394,23.552415,1.802871,0.499957,2.726233,2.754621,3.638016,0.433141,0.222400,0.489024,0.060146,1390.165646,0.278078,989.563015,19.663797,8.792196,2123.597085,1514.104666,2.183397,154.298370,0.500010
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4721.000000,2.200000,2800.000000,24.000000,0.000000,-12993.000000,-10601.000000,4.239596,833.963875,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5926.000000,2.800000,4065.000000,32.000000,0.000000,-8473.000000,-9779.000000,5.220192,873.438107,0.000000
25%,11.000000,1.000000,0.000000,4.000000,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,14083.000000,6.200000,15193.000000,172.000000,44.000000,-1427.000000,-976.000000,19.104637,1564.413259,11.000000,1.000000,0.000000,4.000000,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,14031.000000,6.200000,15207.000000,172.000000,44.000000,-1391.500000,-997.500000,19.104389,1558.544699,0.000000
50%,13.000000,2.000000,1.000000,5.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,14952.000000,6.400000,15836.000000,185.000000,48.000000,-29.000000,-1.000000,20.549086,1660.798187,13.000000,2.000000,0.000000,5.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,14923.000000,6.400000,15848.000000,185.000000,49.000000,29.000000,1.000000,20.549999,1657.582535,0.000000
75%,16.000000,3.000000,1.000000,7.000000,7.000000,8.000000,0.000000,0.000000,1.000000,0.000000,15906.000000,6.600000,16473.500000,198.000000,55.000000,1391.500000,997.500000,21.992628,1766.736371,16.000000,3.000000,1.000000,7.000000,7.000000,8.000000,1.000000,0.000000,1.000000,0.000000,15898.000000,6.600000,16478.500000,198.000000,56.000000,1427.000000,976.000000,21.993707,1765.846019,1.000000
max,306.000000,25.000000,1.000000,21.000000,23.000000,32.000000,1.000000,1.000000,2.000000,6.000000,25217.000000,7.400000,19705.000000,250.000000,84.000000,8473.000000,9779.000000,27.766209,2801.115988,341.000000,24.000000,1.000000,23.000000,21.000000,31.000000,1.000000,1.000000,2.000000,1.000000,21854.000000,7.400000,19218.000000,247.000000,84.000000,12993.000000,10601.000000,27.437636,2427.305240,1.000000

In [10]:
df_euw.describe()

,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsPlaced,redWardsDestroyed,redFirstBlood,redKills,redDeaths,redAssists,redDragons,redHeralds,redEliteMonsters,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
count,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.00000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000
mean,18.586060,2.101420,0.499656,5.650504,5.659200,5.863480,0.199087,0.101233,0.300319,0.007821,15140.575799,6.418833,15799.585497,187.651818,49.448727,18.022211,35.439029,20.843825,1681.767174,20.507039,1.971032,0.500156,5.659200,5.650504,5.955703,0.247200,0.080773,0.327973,0.005381,15158.59801,6.426666,15835.024526,188.122881,50.059939,-18.022211,-35.439029,20.896003,1683.759241,0.488081
std,19.465543,1.898543,0.500016,2.828800,2.811438,3.781927,0.399326,0.301646,0.492623,0.089501,1426.619092,0.283061,1006.155446,19.693728,9.006706,2171.882669,1524.580023,2.187890,158.491660,22.181218,1.827836,0.500016,2.811438,2.828800,3.857480,0.431398,0.272495,0.506667,0.085025,1425.33718,0.276972,984.703982,19.612040,9.084871,2171.882669,1524.580023,2.177910,158.228732,0.499874
min,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8787.000000,3.800000,6701.000000,40.000000,0.000000,-10075.000000,-7154.000000,4.443268,973.522798,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10722.00000,4.400000,9618.000000,96.000000,0.000000,-12288.000000,-10667.000000,10.662500,1190.870217,0.000000
25%,12.000000,1.000000,0.000000,4.000000,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,14146.500000,6.200000,15174.500000,175.000000,44.000000,-1394.000000,-944.000000,19.438973,1571.242390,12.000000,1.000000,0.000000,4.000000,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,14146.00000,6.200000,15222.000000,175.000000,44.000000,-1424.500000,-1007.500000,19.439459,1571.335744,0.000000
50%,13.000000,2.000000,0.000000,5.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,15049.000000,6.400000,15827.000000,189.000000,48.000000,15.000000,28.000000,20.990166,1671.544643,14.000000,2.000000,1.000000,5.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,15060.00000,6.400000,15857.000000,189.000000,49.000000,-15.000000,-28.000000,20.991720,1672.886816,0.000000
75%,16.000000,3.000000,1.000000,7.000000,7.000000,8.000000,0.000000,0.000000,1.000000,0.000000,16024.000000,6.600000,16473.000000,201.000000,56.000000,1424.500000,1007.500000,22.326718,1779.815868,17.000000,3.000000,1.000000,7.000000,7.000000,8.000000,0.000000,0.000000,1.000000,0.000000,16043.50000,6.600000,16494.500000,201.000000,56.000000,1394.000000,944.000000,22.328289,1782.072087,1.000000
max,286.000000,27.000000,1.000000,20.000000,22.000000,31.000000,1.000000,1.000000,2.000000,2.000000,22334.000000,7.400000,19501.000000,256.000000,88.000000,12288.000000,10667.000000,28.437809,2480.949101,295.000000,25.000000,1.000000,22.000000,20.000000,34.000000,1.000000,1.000000,2.000000,5.000000,24040.00000,7.400000,19906.000000,266.000000,84.000000,10075.000000,7154.000000,28.769839,2580.772955,1.000000

We found an anomaly with WardsPlaced (for both teams and both servers). It is unlikely that a team places more than ~X wards before 10 minutes, so we investigated why it is like that.
Our first thought was that it is possible that Riot counts some player abilities as wards, because those abilities give vison to the player.

In [11]:
# Finding the matchId
df_euw.loc[df_euw["blueWardsPlaced"]==286]

,matchId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsPlaced,redWardsDestroyed,redFirstBlood,redKills,redDeaths,redAssists,redDragons,redHeralds,redEliteMonsters,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
8525,EUW1_6131485050,286,0,0,3,6,1,0,0,0,0,14055,6.6,17259,185,53,677,-738,20.548858,1561.157845,14,1,1,6,3,5,0,0,0,0,14732,6.4,16521,191,49,-677,738,21.215308,1636.355558,1

In [12]:
# Finding the matchId
df_eune.loc[df_eune["blueWardsPlaced"]==306]

,matchId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsPlaced,redWardsDestroyed,redFirstBlood,redKills,redDeaths,redAssists,redDragons,redHeralds,redEliteMonsters,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
13825,EUN1_3249937829,306,2,1,2,6,1,0,0,0,0,13234,6.4,15712,187,42,1272,923,20.771585,1470.006165,10,14,0,6,2,3,0,0,0,0,14506,6.8,16635,180,41,-1272,-923,19.994039,1611.297372,1

We manualy searched through about 10 games that appeared in our dataset, which have more than 200 wards by either team. Riot marks most of the wards by one character (Warwick) as UNDEFINED.

In [13]:
# Finding matchId-s to check participating characters in the game
df_eune[(df_eune["blueWardsPlaced"] > 200) | (df_eune["redWardsPlaced"] > 200)]

,matchId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsPlaced,redWardsDestroyed,redFirstBlood,redKills,redDeaths,redAssists,redDragons,redHeralds,redEliteMonsters,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
265,EUN1_3246750364,8,1,1,4,6,2,0,0,0,0,13965,6.4,15582,185,48,1268,1161,20.551750,1551.379374,209,1,0,6,4,7,1,0,1,0,15233,6.6,16743,185,48,-1268,-1161,20.551750,1692.242177,1
342,EUN1_3226042360,207,14,1,2,6,0,0,0,0,0,13474,6.4,15881,190,48,1119,696,21.103764,1496.590076,32,2,0,6,2,7,1,0,1,0,14593,6.6,16577,169,56,-1119,-696,18.771243,1620.880138,0
344,EUN1_3217937111,214,1,0,2,6,2,0,0,0,0,13838,6.4,14936,198,38,1011,485,21.994705,1537.185492,10,1,1,6,2,10,1,0,1,0,14849,6.4,15421,179,62,-1011,-485,19.884102,1649.491789,0
600,EUN1_3250239128,33,3,1,4,6,3,0,1,1,0,14305,6.4,15660,158,52,927,169,17.551395,1589.067777,244,2,0,6,4,6,1,0,1,0,15232,6.4,15829,177,60,-927,-169,19.662006,1692.043367,0
1063,EUN1_3245723176,11,2,0,5,7,6,0,0,0,0,14831,6.4,14821,205,25,668,-465,22.771537,1647.437369,252,1,1,7,5,7,0,0,0,0,15499,6.4,14356,165,32,-668,465,18.328310,1721.639254,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,EUN1_3226910291,30,0,1,8,6,18,0,0,0,0,15513,6.2,15094,164,48,-671,-804,18.217061,1723.178433,203,10,0,6,8,7,1,0,1,0,14842,5.8,14290,150,48,671,804,16.661946,1648.643995,1
15121,EUN1_3227333388,79,3,0,7,5,9,0,0,0,0,15947,6.4,16517,186,55,-1866,-2548,20.660086,1771.324689,275,3,1,5,7,8,1,0,1,0,14081,5.8,13969,157,36,1866,2548,17.438890,1564.057374,1
15403,EUN1_3181921263,11,2,1,5,2,2,1,0,1,0,14705,6.4,15995,186,55,-1065,509,20.658939,1633.277922,288,3,0,2,5,1,0,0,0,0,13640,6.6,16504,204,48,1065,-509,22.658191,1514.988838,1
15437,EUN1_3245114886,278,1,0,5,10,5,0,0,0,0,13620,6.2,14591,136,60,3784,1239,15.106160,1512.837459,12,2,1,10,5,7,0,0,0,0,17404,6.6,15830,197,40,-3784,-1239,21.881717,1933.144136,0
15451,EUN1_3233836810,17,3,0,4,6,2,0,0,0,0,14784,6.8,17162,192,64,50,-311,21.324882,1642.015942,219,5,1,6,4,6,1,0,1,0,14834,6.8,16851,199,40,-50,311,22.102352,1647.569297,0

Since there are 162 champions in League of Legends and many of them have abilities that give vision, we decided that we will remove games from our dataset that have more than X wards placed by either team. We are aware that this could influence the machine learning algorithm, but we think that to have more vision in the game you can strategically pick characters that provide vision.

In [14]:
len(df_euw[(df_euw["blueWardsPlaced"] > 50) | (df_euw["redWardsPlaced"] > 50)])

1801

In [15]:
len(df_eune[(df_eune["blueWardsPlaced"] > 50) | (df_eune["redWardsPlaced"] > 50)])

1774

In [16]:
# siia kood euwst eemaldamine, muuda 50 sobivaks nriks ja tekstis X ka

In [17]:
# siia kood eunest eemaldamine

The data can still include some duplicate values (games) because players from the same server and similar rank play together in ranked games.

### Removing duplicate values

We are counting unique matchId-s because each game has its own id.

In [18]:
print("EUNE game count: " + str(len(df_eune)))
print("EUNE unique game count: " +str(len(df_eune["matchId"].drop_duplicates())))

EUNE game count: 16251
EUNE unique game count: 14788

In [19]:
print("EUW game count: " + str(len(df_euw)))
print("EUW unique game count: " +str(len(df_euw["matchId"].drop_duplicates())))

EUW game count: 15983
EUW unique game count: 15228

In [20]:
df_eune = df_eune.drop_duplicates()
df_euw = df_euw.drop_duplicates()

### Balancing the dataset

It is not possible to have a tie. This means that either blue or red team has to win.

Counting how many blue wins (same as red loses) and loses (same as red wins) each server has, to determine how to balance data.

In [23]:
eune_bluewin_amount = len(df_eune[df_eune["bluewins"]==1])
eune_bluelose_amount = len(df_eune[df_eune["bluewins"]==0])
print("EUNE blue wins: ", eune_bluewin_amount)
print("EUNE blue loses (red wins): ", eune_bluelose_amount)

EUNE blue wins:  7310
EUNE blue loses (red wins):  7478

In [24]:
euw_bluewin_amount = len(df_euw[df_euw["bluewins"]==1])
euw_bluelose_amount = len(df_euw[df_euw["bluewins"]==0])
print("EUW blue wins: ", euw_bluewin_amount)
print("EUW blue loses (red wins): ", euw_bluelose_amount)

EUNE blue wins:  7434
EUNE blue loses (red wins):  7794

We are using random undersampling because we only want to have unique games.

First we find minimum of winning and losing games and then the minimum out of those. This is because we want both servers to have the same amount of positive and negative outcomes. There is no need to take the wins or losses into account when comparing the servers, so this balance will not influence the comparisons.

In [27]:
bluewins_amount = min(eune_bluewin_amount,euw_bluewin_amount)
blueloses_amount = min(eune_bluelose_amount, euw_bluelose_amount)
game_amount = min(bluewins_amount,blueloses_amount)

In [28]:
# replace=False is default, this means that there will be no duplicate values
eune_bluewins = df_eune[df_eune["bluewins"]==1].sample(n=game_amount, random_state=0)
eune_blueloses = df_eune[df_eune["bluewins"]==0].sample(n=game_amount, random_state=0)
euw_bluewins = df_euw[df_euw["bluewins"]==1].sample(n=game_amount, random_state=0)
euw_blueloses = df_euw[df_euw["bluewins"]==0].sample(n=game_amount, random_state=0)

In [31]:
df_eune_balanced = pd.concat([eune_bluewins, eune_blueloses])

In [32]:
df_euw_balanced = pd.concat([euw_bluewins, euw_blueloses])

# Data after cleaning

We have removed duplicate values, removed some extreme values and balanced the data for both servers.

In [33]:
df_eune_balanced.describe()

,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsPlaced,redWardsDestroyed,redFirstBlood,redKills,redDeaths,redAssists,redDragons,redHeralds,redEliteMonsters,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
count,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000
mean,18.830985,2.009029,0.509986,5.690834,5.605882,5.704241,0.230985,0.062996,0.293981,0.006088,15045.484405,6.424295,15819.752189,184.301642,49.002599,-24.928659,12.927086,20.471761,1671.225602,20.108482,1.855404,0.489672,5.605882,5.690834,5.588988,0.248769,0.051642,0.300410,0.003625,15020.555746,6.428167,15832.679275,184.429343,49.937209,24.928659,-12.927086,20.486013,1668.464663,0.500000
std,20.274843,1.905325,0.499917,2.749856,2.722060,3.659429,0.421477,0.242964,0.482293,0.094466,1390.909974,0.276435,983.894790,19.637079,8.710576,2118.756994,1513.191091,2.180368,154.342846,23.785906,1.788080,0.499910,2.722060,2.749856,3.635782,0.432314,0.221310,0.488502,0.060102,1390.284042,0.278343,989.472971,19.718340,8.773582,2118.756994,1513.191091,2.189372,154.298802,0.500017
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4721.000000,2.200000,2800.000000,24.000000,0.000000,-12993.000000,-10601.000000,4.239596,833.963875,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5926.000000,2.800000,4065.000000,32.000000,0.000000,-8473.000000,-9779.000000,5.220192,873.438107,0.000000
25%,11.000000,1.000000,0.000000,4.000000,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,14074.750000,6.200000,15200.000000,172.000000,44.000000,-1427.250000,-976.250000,19.104274,1563.365672,11.000000,1.000000,0.000000,4.000000,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,14030.000000,6.200000,15210.000000,172.000000,44.000000,-1383.000000,-999.000000,19.103629,1558.418478,0.000000
50%,13.000000,2.000000,1.000000,5.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,14951.000000,6.400000,15840.000000,185.000000,48.000000,-31.500000,2.000000,20.548744,1660.745527,13.000000,2.000000,0.000000,5.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,14918.000000,6.400000,15851.000000,185.000000,49.000000,31.500000,-2.000000,20.550114,1657.152009,0.500000
75%,16.000000,3.000000,1.000000,7.000000,7.000000,8.000000,0.000000,0.000000,1.000000,0.000000,15910.250000,6.600000,16473.250000,198.000000,55.000000,1383.000000,999.000000,21.992181,1767.227274,16.000000,3.000000,1.000000,7.000000,7.000000,8.000000,0.000000,0.000000,1.000000,0.000000,15895.000000,6.600000,16484.000000,198.000000,56.000000,1427.250000,976.250000,21.993687,1765.533200,1.000000
max,306.000000,25.000000,1.000000,21.000000,23.000000,32.000000,1.000000,1.000000,2.000000,6.000000,25217.000000,7.400000,19705.000000,250.000000,84.000000,8473.000000,9779.000000,27.766209,2801.115988,341.000000,24.000000,1.000000,23.000000,21.000000,31.000000,1.000000,1.000000,2.000000,1.000000,21854.000000,7.400000,19218.000000,247.000000,84.000000,12993.000000,10601.000000,27.437636,2427.305240,1.000000

In [35]:
df_euw_balanced.describe()

,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsPlaced,redWardsDestroyed,redFirstBlood,redKills,redDeaths,redAssists,redDragons,redHeralds,redEliteMonsters,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
count,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.00000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000,14620.000000
mean,18.602462,2.099726,0.501847,5.683926,5.646648,5.903830,0.199590,0.100547,0.300137,0.008071,15157.003352,6.420534,15808.062927,187.755677,49.402189,-9.044460,18.243912,20.855358,1683.591158,20.477223,1.968194,0.497948,5.646648,5.683926,5.936525,0.24275,0.080506,0.323256,0.005335,15147.958892,6.424323,15826.306840,187.997059,49.997196,9.044460,-18.243912,20.882010,1682.575821,0.500000
std,19.519254,1.879512,0.500014,2.840571,2.809190,3.801264,0.399706,0.300738,0.492296,0.090995,1428.794538,0.282314,1002.639937,19.706887,9.004856,2171.005112,1521.204064,2.189393,158.735939,22.068003,1.820004,0.500013,2.809190,2.840571,3.850737,0.42876,0.272085,0.504057,0.084985,1425.019229,0.277588,986.846926,19.632102,9.094983,2171.005112,1521.204064,2.180086,158.184630,0.500017
min,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8787.000000,3.800000,6701.000000,40.000000,0.000000,-10075.000000,-7154.000000,4.443268,973.522798,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,10722.000000,4.400000,9618.000000,96.000000,0.000000,-12288.000000,-10667.000000,10.662500,1190.870217,0.000000
25%,12.000000,1.000000,0.000000,4.000000,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,14166.000000,6.200000,15184.000000,175.000000,44.000000,-1421.000000,-956.250000,19.439081,1573.606880,12.000000,1.000000,0.000000,4.000000,4.000000,3.000000,0.00000,0.000000,0.000000,0.000000,14136.000000,6.200000,15212.000000,175.000000,44.000000,-1398.000000,-990.000000,19.438937,1570.287063,0.000000
50%,13.000000,2.000000,1.000000,5.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,15068.000000,6.400000,15835.000000,189.000000,48.000000,-9.000000,13.000000,20.992225,1673.709730,14.000000,2.000000,0.000000,5.000000,5.000000,5.000000,0.00000,0.000000,0.000000,0.000000,15046.500000,6.400000,15849.000000,188.000000,49.000000,9.000000,-13.000000,20.884093,1671.324198,0.500000
75%,16.000000,3.000000,1.000000,7.000000,7.000000,8.000000,0.000000,0.000000,1.000000,0.000000,16042.250000,6.600000,16479.000000,201.000000,56.000000,1398.000000,990.000000,22.327100,1781.946996,17.000000,3.000000,1.000000,7.000000,7.000000,8.000000,0.00000,0.000000,1.000000,0.000000,16036.250000,6.600000,16485.000000,201.000000,56.000000,1421.000000,956.250000,22.327514,1781.287099,1.000000
max,286.000000,27.000000,1.000000,20.000000,22.000000,31.000000,1.000000,1.000000,2.000000,2.000000,22334.000000,7.400000,19501.000000,256.000000,88.000000,12288.000000,10667.000000,28.437809,2480.949101,295.000000,25.000000,1.000000,22.000000,20.000000,34.000000,1.00000,1.000000,2.000000,5.000000,24040.000000,7.400000,19906.000000,266.000000,84.000000,10075.000000,7154.000000,28.769839,2559.740231,1.000000