# Project D4: Predicting LoL winner

Team members - Veronika Kukk, Robin Piir, Otto Kase
<br>Github - https://github.com/VeronikaKukk/DS_project

# Gathering data

Data was gathered from Riot API by using development API key.
<br> Code for that is written in request_info.py.
<br> This gathering method has already removed any games that were less than 10 minutes and has only taken ranked games from players with rank Diamond I in ranked solo.

In [1]:
# everything that needs to be imported
import pandas as pd
from pathlib import Path

# Combining data

In [2]:
# import all eune files to dataframes
df_eune1 = pd.read_csv("eune_data1.csv", index_col=0)
df_eune2 = pd.read_csv("eune_data2.csv", index_col=0)
df_eune3 = pd.read_csv("eune_data3.csv", index_col=0)
df_eune4 = pd.read_csv("eune_data4.csv", index_col=0)

In [3]:
# import all euw files to dataframes
df_euw1 = pd.read_csv("euw_data1.csv", index_col=0)
df_euw2 = pd.read_csv("euw_data2.csv", index_col=0)
df_euw3 = pd.read_csv("euw_data3.csv", index_col=0)
df_euw4 = pd.read_csv("euw_data4.csv", index_col=0)

In [4]:
df_eune1

,matchId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,...,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
0,EUN1_3250387583,118,4,1,4,3,5,0,0,0,...,14267,7.0,16956,193,72,8,-2314,21.436862,1584.661722,0
1,EUN1_3250345989,15,2,0,7,3,5,0,0,0,...,13815,6.4,15507,183,48,1397,893,20.325918,1534.440213,1
2,EUN1_3250132600,13,0,0,3,2,3,0,0,0,...,14202,7.0,17682,205,48,-544,-1343,22.768502,1577.357373,0
3,EUN1_3250109344,10,1,1,3,3,0,0,0,0,...,14684,6.6,16566,194,60,-541,111,21.549689,1631.111531,1
4,EUN1_3250074417,12,0,0,0,4,0,0,0,0,...,14784,6.6,16370,203,50,-2446,-2208,22.544534,1641.863978,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4063,EUN1_3241781223,112,1,1,12,4,10,1,0,1,...,14534,6.4,15108,175,52,3242,2265,19.439261,1614.458367,1
4064,EUN1_3241746052,17,5,1,13,6,20,0,0,0,...,15496,6.4,16230,195,64,3805,1745,21.659246,1721.188111,1
4065,EUN1_3241710887,16,1,0,3,9,3,0,0,0,...,17167,6.6,16519,171,56,-3654,-1748,18.995111,1906.953580,1
4066,EUN1_3241682864,34,1,0,4,7,2,0,0,0,...,14538,6.4,14915,171,36,568,1714,18.995181,1614.923621,0
4067,EUN1_3241627562,15,16,0,6,9,6,0,0,0,...,16743,6.4,15112,182,56,-1428,-119,20.216195,1859.778844,0

In [5]:
# combining all of the dataframes of both servers into one
eune_dfs = [df_eune1, df_eune2, df_eune3, df_eune4]
euw_dfs = [df_euw1, df_euw2, df_euw3, df_euw4]

df_eune = pd.concat(eune_dfs, ignore_index=True)
df_euw = pd.concat(euw_dfs, ignore_index=True)

In [6]:
df_eune

,matchId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,...,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
0,EUN1_3250387583,118,4,1,4,3,5,0,0,0,...,14267,7.0,16956,193,72,8,-2314,21.436862,1584.661722,0
1,EUN1_3250345989,15,2,0,7,3,5,0,0,0,...,13815,6.4,15507,183,48,1397,893,20.325918,1534.440213,1
2,EUN1_3250132600,13,0,0,3,2,3,0,0,0,...,14202,7.0,17682,205,48,-544,-1343,22.768502,1577.357373,0
3,EUN1_3250109344,10,1,1,3,3,0,0,0,0,...,14684,6.6,16566,194,60,-541,111,21.549689,1631.111531,1
4,EUN1_3250074417,12,0,0,0,4,0,0,0,0,...,14784,6.6,16370,203,50,-2446,-2208,22.544534,1641.863978,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16246,EUN1_3245368080,75,4,1,6,6,8,0,0,0,...,15542,6.6,16303,194,56,-509,-1744,21.549649,1726.415723,1
16247,EUN1_3245264423,9,3,0,1,6,1,0,0,0,...,14910,6.4,16199,185,40,-1725,-1144,20.548097,1656.065576,0
16248,EUN1_3245007949,14,0,0,4,7,5,0,0,0,...,14705,6.6,16327,164,56,-501,-496,18.216353,1633.362583,1
16249,EUN1_3244978461,11,1,0,0,9,0,0,0,0,...,15390,6.2,15396,169,44,-2950,-967,18.771764,1709.452342,0
16250,EUN1_3244934110,13,1,1,6,2,8,1,0,1,...,13260,6.0,14505,208,26,2873,2754,23.103111,1472.823300,1

In [7]:
# write data to csv files 
# (we should move this part to after cleaning data so that we have correct data in files that we analyse)
filepath1 = Path('combined_eune.csv')
filepath2 = Path('combined_euw.csv')
df_eune.to_csv(filepath1)
df_euw.to_csv(filepath2)

# Clean data

In [10]:
# Find whether any games have no values
eune_nan = df_eune.isna().any(axis=1).sum()
euw_nan = df_euw.isna().any(axis=1).sum()
print("Number of missing values in EUNE: "+str(eune_nan))
print("Number of missing values in EUW: "+str(euw_nan))

Number of missing values in EUNE: 0
Number of missing values in EUW: 0

This means that there are no rows with missing values. No need to remove any rows.

In [11]:
df_eune.describe()

,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,blueTowersDestroyed,...,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
count,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,...,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000,16251.000000
mean,18.836133,2.004800,0.507353,5.689373,5.608455,5.698542,0.231309,0.063319,0.294628,0.005723,...,15022.141037,6.427518,15829.004369,184.466925,49.935758,25.933727,-9.856624,20.490175,1668.638380,0.497692
std,20.162360,1.893432,0.499961,2.754621,2.726233,3.655421,0.421682,0.243544,0.482896,0.090967,...,1390.165646,0.278078,989.563015,19.663797,8.792196,2123.597085,1514.104666,2.183397,154.298370,0.500010
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5926.000000,2.800000,4065.000000,32.000000,0.000000,-8473.000000,-9779.000000,5.220192,873.438107,0.000000
25%,11.000000,1.000000,0.000000,4.000000,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,...,14031.000000,6.200000,15207.000000,172.000000,44.000000,-1391.500000,-997.500000,19.104389,1558.544699,0.000000
50%,13.000000,2.000000,1.000000,5.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,...,14923.000000,6.400000,15848.000000,185.000000,49.000000,29.000000,1.000000,20.549999,1657.582535,0.000000
75%,16.000000,3.000000,1.000000,7.000000,7.000000,8.000000,0.000000,0.000000,1.000000,0.000000,...,15898.000000,6.600000,16478.500000,198.000000,56.000000,1427.000000,976.000000,21.993707,1765.846019,1.000000
max,306.000000,25.000000,1.000000,21.000000,23.000000,32.000000,1.000000,1.000000,2.000000,6.000000,...,21854.000000,7.400000,19218.000000,247.000000,84.000000,12993.000000,10601.000000,27.437636,2427.305240,1.000000

In [14]:
df_euw.describe()

,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,blueTowersDestroyed,...,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
count,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,...,15983.00000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000,15983.000000
mean,18.586060,2.101420,0.499656,5.650504,5.659200,5.863480,0.199087,0.101233,0.300319,0.007821,...,15158.59801,6.426666,15835.024526,188.122881,50.059939,-18.022211,-35.439029,20.896003,1683.759241,0.488081
std,19.465543,1.898543,0.500016,2.828800,2.811438,3.781927,0.399326,0.301646,0.492623,0.089501,...,1425.33718,0.276972,984.703982,19.612040,9.084871,2171.882669,1524.580023,2.177910,158.228732,0.499874
min,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,10722.00000,4.400000,9618.000000,96.000000,0.000000,-12288.000000,-10667.000000,10.662500,1190.870217,0.000000
25%,12.000000,1.000000,0.000000,4.000000,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,...,14146.00000,6.200000,15222.000000,175.000000,44.000000,-1424.500000,-1007.500000,19.439459,1571.335744,0.000000
50%,13.000000,2.000000,0.000000,5.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,...,15060.00000,6.400000,15857.000000,189.000000,49.000000,-15.000000,-28.000000,20.991720,1672.886816,0.000000
75%,16.000000,3.000000,1.000000,7.000000,7.000000,8.000000,0.000000,0.000000,1.000000,0.000000,...,16043.50000,6.600000,16494.500000,201.000000,56.000000,1394.000000,944.000000,22.328289,1782.072087,1.000000
max,286.000000,27.000000,1.000000,20.000000,22.000000,31.000000,1.000000,1.000000,2.000000,2.000000,...,24040.00000,7.400000,19906.000000,266.000000,84.000000,10075.000000,7154.000000,28.769839,2580.772955,1.000000

We found an anomaly with WardsPlaced. It is unlikely that a team places more than ~X wards before 10 minutes, so we investigated why it is like that.
Our first thought was that it is possible that Riot counts some player abilities as wards, because those abilities give vison to the player.

In [17]:
# Finding the matchId
df_euw.loc[df_euw["blueWardsPlaced"]==286]

,matchId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,...,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
8525,EUW1_6131485050,286,0,0,3,6,1,0,0,0,...,14732,6.4,16521,191,49,-677,738,21.215308,1636.355558,1

In [34]:
# Finding the matchId
df_eune.loc[df_eune["blueWardsPlaced"]==306]

,matchId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,...,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
13825,EUN1_3249937829,306,2,1,2,6,1,0,0,0,...,14506,6.8,16635,180,41,-1272,-923,19.994039,1611.297372,1

We manualy searched through about 10 games that appeared in our dataset, which have more than 200 wards by either team. Riot marks most of the wards by one character (Warwick) as UNDEFINED.

In [36]:
# Finding matchId-s to check participating characters in the game
df_eune[(df_eune["blueWardsPlaced"] > 200) | (df_eune["redWardsPlaced"] > 200)]

,matchId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueEliteMonsters,...,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,bluewins
265,EUN1_3246750364,8,1,1,4,6,2,0,0,0,...,15233,6.6,16743,185,48,-1268,-1161,20.551750,1692.242177,1
342,EUN1_3226042360,207,14,1,2,6,0,0,0,0,...,14593,6.6,16577,169,56,-1119,-696,18.771243,1620.880138,0
344,EUN1_3217937111,214,1,0,2,6,2,0,0,0,...,14849,6.4,15421,179,62,-1011,-485,19.884102,1649.491789,0
600,EUN1_3250239128,33,3,1,4,6,3,0,1,1,...,15232,6.4,15829,177,60,-927,-169,19.662006,1692.043367,0
1063,EUN1_3245723176,11,2,0,5,7,6,0,0,0,...,15499,6.4,14356,165,32,-668,465,18.328310,1721.639254,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,EUN1_3226910291,30,0,1,8,6,18,0,0,0,...,14842,5.8,14290,150,48,671,804,16.661946,1648.643995,1
15121,EUN1_3227333388,79,3,0,7,5,9,0,0,0,...,14081,5.8,13969,157,36,1866,2548,17.438890,1564.057374,1
15403,EUN1_3181921263,11,2,1,5,2,2,1,0,1,...,13640,6.6,16504,204,48,1065,-509,22.658191,1514.988838,1
15437,EUN1_3245114886,278,1,0,5,10,5,0,0,0,...,17404,6.6,15830,197,40,-3784,-1239,21.881717,1933.144136,0
15451,EUN1_3233836810,17,3,0,4,6,2,0,0,0,...,14834,6.8,16851,199,40,-50,311,22.102352,1647.569297,0

Since there are 162 champions in League of Legends and many of them have abilities that give vision, we decided that we will remove games from our dataset that have more than X wards placed by either team. We are aware that this could influence the machine learning algorithm, but we think that to have more vision in the game you can strategically pick characters that provide vision.

In [38]:
len(df_euw[(df_euw["blueWardsPlaced"] > 50) | (df_euw["redWardsPlaced"] > 50)])

1801

In [39]:
len(df_eune[(df_eune["blueWardsPlaced"] > 50) | (df_eune["redWardsPlaced"] > 50)])

1774

In [ ]:
# siia kood euwst eemaldamine, muuda 50 sobivaks nriks ja tekstis X ka

In [ ]:
# siia kood eunest eemaldamine

The data can still include some duplicate values, because players from the same server and same rank play together in ranked games.
<br>Removing duplicate values

In [42]:
print("EUNE game count: " + str(len(df_eune)))
print("EUNE unique game count: " +str(len(df_eune["matchId"].drop_duplicates())))

EUNE game count: 16251
EUNE unique game count: 14788

In [43]:
print("EUW game count: " + str(len(df_euw)))
print("EUW unique game count: " +str(len(df_euw["matchId"].drop_duplicates())))

EUW game count: 15983
EUW unique game count: 15228

In [44]:
df_eune = df_eune.drop_duplicates()
df_euw = df_euw.drop_duplicates()